In [1]:
import pandas as pd

In [17]:
path = r'A:\Phong\Crawl_buffett\Data'

In [18]:
pd.read_csv(path+r'\1301\docs\dividend.csv')

,Year,Q1,Q2,Q3,Q4,time_split_Q1,time_split_Q2,time_split_Q3,time_split_Q4
0,2022,―,―,―,100.0,NaN,NaN,NaN,['28_6_2023']
1,2021,―,―,―,90.0,NaN,NaN,NaN,['27_6_2022']
2,2020,―,―,―,80.0,NaN,NaN,NaN,['28_6_2021']
3,2019,―,―,―,70.0,NaN,NaN,NaN,['25_6_2020']
4,2018,―,―,―,70.0,NaN,NaN,NaN,['26_6_2019']
5,2017,—,—,ーー,60.0,NaN,NaN,NaN,['27_6_2018']
6,2016,—,一,—,60.0,NaN,NaN,NaN,['28_6_2017']
7,2015,—,—,ーー,5.0,NaN,NaN,NaN,['27_6_2016']
8,2014,―,―,―,5.0,NaN,NaN,NaN,['25_6_2015']
9,2013,―,―,―,5.0,NaN,NaN,NaN,['25_6_2014']
10,2012,―,―,―,5.0,NaN,NaN,NaN,['26_6_2013']
11,2011,―,―,―,5.0,NaN,NaN,NaN,['27_6_2012']
12,2010,―,―,―,5.0,NaN,NaN,NaN,['27_6_2011']
13,2009,―,―,―,5.0,NaN,NaN,NaN,['28_6_2010']
14,2008,―,―,―,5.0,NaN,NaN,NaN,['26_6_2009']