In [2]:
import pandas as pd
col = 'table'
df = pd.read_csv("docs/List_company_23052023 - Listing.csv")
df = df.drop(col, axis=1)
df.to_csv("docs/List_company_23052023 - Listing.csv", index=False)

In [4]:
pd.read_csv("docs/List_company_23052023 - Listing.csv")

      Symbol check volume dividend  table
0       1301  Done    NaN     Done    NaN
1       1332  Done    NaN     Done    NaN
2       1333  Done    NaN     Done    NaN
3       1375  Done    NaN     Done    NaN
4       1376  Done    NaN     Done    NaN
...      ...   ...    ...      ...    ...
3805    9993  Done    NaN     Done    NaN
3806    9994  Done   Done     Done    NaN
3807    9995  Done   Done     Done    NaN
3808    9996  Done   Done     Done    NaN
3809    9997  Done   Done     Done    NaN

[3810 rows x 5 columns]

In [5]:
pd.options.display.max_columns = 9999

In [17]:
pd.read_csv("Data/2735/docs/checklist_get_table.csv")

       Time get_bs get_pl
0   2022_Q1   Done   Done
1   2021_Q1   Done   Done
2   2020_Q1   Done   Done
3   2019_Q1   Done   Done
4   2018_Q1   Done   Done
..      ...    ...    ...
59  2011_Q4   Done   Done
60  2010_Q4   Done   Done
61  2009_Q4   Done   Done
62  2008_Q4   Done   Done
63  2007_Q4      B   Done

[64 rows x 3 columns]

In [8]:
import pandas as pd
pd.read_csv("Data/9996/table_bs/2012_Q3.csv")

               千円     前連結会計年度 当第３四半期連結会計期間
0            資産の部         NaN          NaN
1            流動資産         NaN          NaN
2          現金及び預金     789,366    2,051,402
3       受取手形及び売掛金   5,304,729    6,290,278
4            有価証券   8,519,500    7,100,000
5              商品   1,462,886    2,111,259
6             その他     602,022      404,913
7           貸倒引当金     △15,443      △19,824
8          流動資産合計  16,663,061   17,938,029
9            固定資産         NaN          NaN
10         有形固定資産         NaN          NaN
11    建物及び構築物（純額）   1,479,664    1,855,608
12             土地   3,896,241    3,994,702
13        その他（純額）     320,732      430,857
14       有形固定資産合計   5,696,639    6,281,168
15         無形固定資産      61,760       88,569
16       投資その他の資産         NaN          NaN
17         投資有価証券   3,611,111    3,923,354
18            その他   1,341,424    1,266,423
19          貸倒引当金     △45,198      △36,628
20     投資その他の資産合計   4,907,337    5,153,149
21         固定資産合計  10,665,736   11,522,887
22           資産合計  27,328,798   29,460,917
23           負債の部         NaN          NaN
24           流動負債         NaN          NaN
25      支払手形及び買掛金   7,497,699    9,586,145
26          短期借入金     580,000      580,000
27         未払法人税等     502,500      105,100
28          賞与引当金     256,010      125,949
29        災害損失引当金       5,601            －
30     営業所閉鎖損失引当金      20,000            －
31            その他     676,479      659,331
32         流動負債合計   9,538,290   11,056,527
33           固定負債         NaN          NaN
34        退職給付引当金      28,231       15,007
35      役員退職慰労引当金     194,470      186,266
36         資産除去債務           －        5,759
37            その他      13,287       12,810
38         固定負債合計     235,989      219,845
39           資産の部         NaN          NaN
40           株主資本         NaN          NaN
41            資本金   1,405,800    1,405,800
42          資本剰余金   1,441,725    1,441,717
43          利益剰余金  14,964,895   15,570,725
44           自己株式    △187,631     △187,566
45         株主資本合計  17,624,789   18,230,676
46    その他の包括利益累計額         NaN          NaN
47   その他有価証券評価差額金     △70,270      △46,131
48  その他の包括利益累計額合計     △70,270      △46,131
49          純資産合計  17,554,518   18,184,544